.menu-bar {
	position: fixed;
	width: 80px;
	height: 100vh;
	padding: 10px 14px;
	background-color: var(--menu-bar-color);
	border-right: 1px solid var(--shadow-color);
	transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	z-index: 9999;
}

.menu-bar.opened {
	width: 350px;
}

.menu-bar ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-bar li {
	width: 90%;
	margin-top: 15px;
	padding: 11px;
	font-size: 1.5em;
	display: flex;
	list-style: none;
	cursor: pointer;
}

.menu-bar.opened .menu-header {
	margin-bottom: 50px;
	border-bottom: 1px solid var(--shadow-color);
}

.menu-bar.opened #menuToggleBtn {
	font-size: 1.3em;
	transform: translateX(120px);
	transition: transform 0.8s ease;
}

.menu-bar .menu-header ~ li:hover,
.menu-bar .menu-header ~ li:hover a {
	background-color: var(--text-color);
	color: var(--body-color);
}

.menu-bar ul .menu-header ~ li {
	border-radius: 12px;
}

.menu-bar li a {
	width: 100%;
	height: 100%;
	color: var(--text-color);
	text-decoration: none;
}

.menu-bar .links-name {
	margin-left: 15px;
}

.menu-bar .links-name,
.menu-bar .text-logo {
	display: none;
}

.menu-bar.opened .links-name,
.menu-bar.opened .text-logo {
	display: inline;
}

@media screen and (max-width: 768px) {
	.menu-bar {
		padding: 0 15px;
		width: 100vw;
		height: 50px;
		display: flex;
		align-items: center;
		border-right: 0;
		border-bottom: 1px solid var(--shadow-color);
	}

	.menu-bar li {
		margin-top: 0;
		padding: 8px;
		font-size: 4vmax;
	}

	.menu-bar .menu-header ~ li {
		display: none;
	}

	.menu-bar .menu-header {
		display: flex;
		justify-content: end;
	}

	.menu-bar.opened {
		width: 100%;
		height: 100%;
		align-items: flex-start;
	}

	.menu-bar.opened ul {
		width: 100%;
	}

	.menu-bar.opened li {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-bar.opened .menu-header {
		justify-content: space-evenly;
	}

	.menu-bar.opened .menu-header ~ li {
		width: 30vmax;
	}

	.menu-bar.opened #menuToggleBtn {
		transform: translateX(10vw);
	}
}
