@import url('./menu-bar.css');

:root {
	--shadow-color: rgba(252, 252, 252, 0.336);
	--body-color: #18191a;
    --menu-bar-color: #242526;
    --text-color: #ccc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--text-color);
	background: var(--body-color);
	opacity: 0;
}

main {
	position: absolute;
	left: 80px;
    width: calc(100% - 80px);
    height: 100vh;
	padding-top: 120px;
    background-color: var(--body-color);
}

#content {
	max-width: 90%;
	margin: auto;
}

@media screen and (max-width: 768px) {
	main {
		top: 50px;
		left: 0;
		width: 100vw;
		height: calc(100% - 50px);
	}
}