:root {
	--shadow-color: rgba(252, 252, 252, 0.336);
	--body-color: #18191a;
    --header-color: #242526;
    --text-color: #ccc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--text-color);
	background: var(--body-color);
}

header {
	height: 80px;
	padding-left: 40px;
	font-size: 1.2vmax;
	line-height: 80px;
	background-color: var(--header-color);
	border-bottom: 1px solid var(--shadow-color);
}

main {
    min-height: 100vh;
	padding-top: 100px;
    background-color: var(--body-color);
}

#content {
	max-width: 90%;
	margin: 50px auto 0;
	padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
	main {
		top: 50px;
		left: 0;
		width: 100vw;
	}
}